.flex--cont--def{
  display: flex
}

.app--container{
  flex-direction:column;
  flex-wrap: wrap;
  margin: 0px auto;
  max-width: 90%;
}

.app-header--cont{
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 5px;
  padding-right: 5px;
}

.app--header--child--a{
  flex: 10 10 0;
}

.app--header--child--b{
  flex: 0.3 1 0;
}

.app--header--child--c{
  flex: 0.3 1 0;
}

.app--header--child--d{
  flex: 1 1 0;
}

.grid--columns--container{
  padding: 5px 10px;
  border-bottom: 2px solid #C7C7C7;
  border-top: 1px solid #000000;
  height: 24px;
}

.grid--columns--container--child--def{
  flex: 1 1 0;
}

.grid--row--container{
  padding: 1px 1px;
  border-bottom: 1px solid #C7C7C7;
}

.grid--row--child--container{
  flex: 1 1 0;
  position: relative;
}

.action--container{

}

.middle--center{
  position: absolute;
  left:auto;
  top: 30%;
}