.flex--cont--def{
  display: flex
}

.app--container{
  flex-direction:column;
  flex-wrap: wrap;
  margin: 0px auto;
  max-width: 90%;
}

.app-header--cont{
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: beige;
}

.app--header--child--a{
  flex-grow:10;
}

.app--header--child--b{
  flex-grow:1;
}

.app--header--child--c{
  flex-grow:1;
}

.app--header--child--d{
  flex-grow:1;
}

.grid--columns--container{
  background-color: antiquewhite;
  padding: 5px 10px;
}

.grid--columns--container--child--def{
  flex-grow: 1;
}

.grid--row--container{
  flex-grow: 1;
  padding: 5px 10px;
}

.grid--row--child--container{
  flex-grow: 1;
}

.action--container{

}